div{
	height:150px;
	width:500px;
	background-color:pink;
	border:2px solid black;
	border-radius:10px;
	padding:20px 40px;
}
button{
	padding:5px 20px;
	background-color: skyblue;
	border-radius:15px;
	margin-top:10px;
	margin-left:25%;
	color:white;
	font-size:20px;
}
button:hover{
	background-color:blue;
}

