
h1, h3{
	text-align:center;
}
.outer{
	margin:0 auto;
	width:500px;
	height:100%;
	background-color:azure;
}
.inp{
	margin:20px 0px;
	text-align:center;
}
.heading{
	background-color:blue;
}
.inp{
	margin-left:5rem;
	width:50%;
	height:2rem;
	background-color:white;
	border-radius:10px;
}
.btn{
	height:2rem;
	background-color:white;
	width:4rem;
	border-radius:20px;
}
.hoby{
	background-color:pink;
	width:18rem;
	margin:4px 10%;
	padding:10px;
	list-style-type:none;
	border-radius:10px;
}
.delete{
	position:fixed;
	width:2rem;
	left:57%;
	background-color:red;
}
.hoby:hover{
	opacity:0.7;
}