#out{
	border:1px solid blue;
	color:blue;
	border-radius:5px;
	font-size:16px;
	padding:5px;
	width:59px;
}
#out:hover{
	background-color:blue;
	color:white;
}
h1{
	text-align:center;
}
