#practice{
	font-family:league spartan; /* USED TO CHANGE FONT STYLE*/
	color:#ffa511;				/* USED TO CHANGE COLOR */
	text-align:center;			/* USED FOR POSITION */
	font-size:55px;				/* FONT SIZE */
	font-weight:900;			/* FONT THICKNESS */
	letter-spacing:2px;			/* GAP BTN LEETERS */
	line-height:1.5;			/* HEIGHT FROM CURRENT POSITION */
	text-decoration:teal double underline;	/* FOR double underline*/
	text-transform:uppercase; 		/* CAPITAL LEETER AND FOR SMALL LETTER(LOWERCASE) */
}
#top{
	text-decoration:underline;
}
#One{
	text-align:center;
	text-decoration:underline;
}
h4+p{
	color:blue;
}
p+p{
	background:red;
}
ul li{
	color:green;
}
#two
{
	text-align:center;
	text-decoration:underline;
	font-weight:900;
}
div>h4{
	background-color:green;
}
