*{
	margin:0;
	padding:0;
	
}
.main_box{
	background:url("photo.jpg");
	background-size:cover;			/*IMP*/
	height:100vh;
	
}

.btn_one{
	position:absolute;
	top:10px;
	font-size:23px;
	padding-left:10px;
	position:absolute;
	cursor:pointer;
}
.btn_two{
	position:absolute;
	left:280px;
	top:15px;
	font-size:15px;
	/* opacity:0; */
}
.sidebar_menu{
	border-radius:20px;
	position:fixed;
	left:-300px;				/*IMP*/
	background-color:white;
	opacity:0.5;
	width:300px;
	height:100vh;
	box-shadow:0px 0px 4px white;
	text-decoration:none;
	transition:all 0.3s linear;
}
.sidebar_menu .logo a{
	text-decoration:none;
}
.menu ul li i{
	padding-right:10px;
}
.logo{
	text-decoration:underline;
	letter-spacing:2px;
	padding-left:30px;
	font-size:25px;
	text-transform:uppercase;
	position:absolute;
	top:9px;

}

.social_media{
	position:relative;
	top:550px;
}

.menu{
	position:absolute;
	top:40px;
	padding-left:50px;
	padding-right:50px;
	font-size:20px;
}
.menu ul li{
	margin-top:5px;
	padding:20px;
	}
#check{
	display:none;
}
 a{
	box-shadow:0px 0px 40px white;
	padding:20px;
	
	
}
.menu ul li a{
	text-decoration:none;	/*IMP*/
}
.social_media ul{
	display:flex;
	justify-content:space-evenly;
}
.menu ul li {
	list-style-type:none;			/*IMP*/
}

.sidebar_menu .menu li:hover{
	box-shadow:0px 0px 50px white;
	border:1px solid white;
}
.btn_one:hover{
	font-size:27px;
}
.btn_two:hover{
	font-size:18px;
}

.sidebar_menu .social_media a:hover{
	opacity:0.5;
transform:scale(1.1);
}

#fb:hover{
	color:	#1877F2;
}

#tw:hover{
	color:	#1DA1F2;
}

#ig:hover{
	color:	#405de6
}
#yt:hover{
	color:	#FF0000;
}
#check:checked~.sidebar_menu{
	left:0;
}
#check:checked~.btn_one{
	opacity:0;
}