#cards1{
	width:200px;
	height:200px;
	border:2px solid black;
	display:inline-block;
	border-radius:5px;
	margin : 10px;
	box-shadow: 3px 5px 8px black;
	transition:0.77s;
	background-color:white;
}
#cards2{
	width:200px;
	height:200px;
	border:2px solid black;
	display:inline-block;
	border-radius:5px;
	margin : 10px;
	box-shadow: 3px 5px 8px black;
	transition:0.77s;
	background-color:white;
}
img{
	width:100%;
	border:3px solid black;
}
.desc{
	padding-left:10px;
}
#cards1:hover
{
	box-shadow: 3px 5px 15px green;
}
#cards2:hover
{
	box-shadow: 3px 5px 15px orange;
}
#orange{
	color:orange;
}
#skyblue{
	color:skyblue;
}